#gameContainer
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.cell
{
    width: 70px;
    height: 70px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    text-align: center;
    font-size: 45px;
    cursor: pointer;
}

#cellContainer
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 220px;
    margin: auto;
}
button
{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border-width: 1px;
    color: black;
    cursor: pointer;
}